body {
  background-image: url("hiq-location_malmo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.d-flex {
  background-color: #fefefe;
  max-width: 90%;
}

.info-box {
  background-color: #d7ede0;
}

.most-used-word {
  background-color: #a3b6f1;
}

h1 {
  color: #081107;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  background-color: rgb(136, 136, 133);
}
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.text-box-before {
  color: rgba(0, 0, 0, 0.233);
}
