body {
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.d-flex {
  background-color: #fefefe;
  max-width: 90%;
}

.info-box {
  background-color: #d7ede0;
}

.most-used-word {
  background-color: #d7f5ed;
}

h1 {
  color: #61b759;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  background-color: #eef6f8;
}
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.text-box-before {
  color: rgba(0, 0, 0, 0.233);
}
